<table>
    <tr><td>Current Item: </td><td> 
            <select id="edit_item_changer">
            <% @menu_items.each do |men| %>
                <option 
                    <% if men.id==Integer(@current_item) %>
                        selected=selected
                    <%end%>
                    value=<%= men.id %> id=current_itm_<%= men.id %> class=<%= men.parent_name %>>
                    <%= men.parent_name %> </option>
            <%end%>
</select> </td></tr>
<% all_ings=Array.new %>
<% @ing_id.each do |ing| %>
    <% all_ings[ing.id]=ing%>
<%end%>


<tr><th> Remove Ingredients: </th></tr>
    <%@makeups.each do |mkup| %>
        <%if mkup.food == Integer(@current_item) %>
            <tr><td> <%= all_ings[mkup.ingredient].ingredient_name%> </td>
                <td> <input id=remove_ing_<%=all_ings[mkup.ingredient].id%>  type=checkbox> </input>  </td></tr>
            <% all_ings[mkup.ingredient]=nil%>
        <%end%>
    <%end%>
    
<tr><td>&nbsp</td></tr>

<tr><th> Add Ingredients: </th><th> Included/Vital </th></tr>

    <% all_ings.each do |ing| %>
        <% if ing %>
            <tr><td> <%= ing.ingredient_name %>  </td><td> 
                <input id=add_ing_<%= ing.id %>  type=checkbox> </input>
                <input id=add_ing_<%= ing.id %>_vital type=checkbox> </input> </td></tr>
        <% end %>
    <% end %>
<tr><td>&nbsp</td></tr>
</table>
