<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :hash %><br />
    <%= f.text_field :hash %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_area :password %>
  </div>
  <div class="field">
    <%= f.label :worker %><br />
    <%= f.text_field :worker %>
  </div>
  <div class="field">
    <%= f.label :warnings %><br />
    <%= f.text_field :warnings %>
  </div>
  <div class="field">
    <%= f.label :online_orders %><br />
    <%= f.text_field :online_orders %>
  </div>
  <div class="field">
    <%= f.label :ban %><br />
    <%= f.text_field :ban %>
  </div>
  <div class="field">
    <%= f.label :activated %><br />
    <%= f.text_field :activated %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
