<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Hash:</b>
  <%= @user.hash %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Worker:</b>
  <%= @user.worker %>
</p>

<p>
  <b>Warnings:</b>
  <%= @user.warnings %>
</p>

<p>
  <b>Online orders:</b>
  <%= @user.online_orders %>
</p>

<p>
  <b>Ban:</b>
  <%= @user.ban %>
</p>

<p>
  <b>Activated:</b>
  <%= @user.activated %>
</p>

<p>
  <b>Year:</b>
  <%= @user.year %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @user.phone_number1 %>
</p>


<p>
  <b>Contact Info:</b>
  <%= @user.contact_options %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
