<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @ingredient.id %>
</p>

<p>
  <b>Ingredient name:</b>
  <%= @ingredient.ingredient_name %>
</p>

<p>
  <b>Amount in stock:</b>
  <%= @ingredient.amount_in_stock %>
</p>

<p>
  <b>Unit of stock:</b>
  <%= @ingredient.unit_of_stock %>
</p>

<p>
  <b>Rank:</b>
  <%= @ingredient.rank %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
