<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Order:</b>
  <%= @order.order %>
</p>

<p>
  <b>Started:</b>
  <%= @order.started %>
</p>

<p>
  <b>Finished:</b>
  <%= @order.finished %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
