<h1>Listing makeups</h1>

<table>
  <tr>
    <th>Vital</th>
    <th>Food</th>
    <th>Ingredient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @makeups.each do |makeup| %>
  <tr>
    <td><%= makeup.vital %></td>
    <td><%= makeup.food %></td>
    <td><%= makeup.ingredient %></td>
    <td><%= link_to 'Show', makeup %></td>
    <td><%= link_to 'Edit', edit_makeup_path(makeup) %></td>
    <td><%= link_to 'Destroy', makeup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Makeup', new_makeup_path %>
