<p id="notice"><%= notice %></p>

<p>
  <b>Vital:</b>
  <%= @makeup.vital %>
</p>

<p>
  <b>Food:</b>
  <%= @makeup.food %>
</p>

<p>
  <b>Ingredient:</b>
  <%= @makeup.ingredient %>
</p>


<%= link_to 'Edit', edit_makeup_path(@makeup) %> |
<%= link_to 'Back', makeups_path %>
