<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pastorder.name %>
</p>

<p>
  <b>User:</b>
  <%= @pastorder.user_id %>
</p>

<p>
  <b>Order:</b>
  <%= @pastorder.order %>
</p>

<p>
  <b>Notes:</b>
  <%= @pastorder.notes %>
</p>


<%= link_to 'Edit', edit_pastorder_path(@pastorder) %> |
<%= link_to 'Back', pastorders_path %>
