<%= form_for(@parent) do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_name %><br />
    <%= f.text_field :parent_name %>
  </div>
  <div class="field">
    <%= f.label :class_of_food %><br />
    <%= f.text_field :class_of_food %>
  </div>
  <div class="field">
    <%= f.label :rgb %><br />
    <%= f.text_field :rgb %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
