<p id="notice"><%= notice %></p>

<p>
  <b>Parent name:</b>
  <%= @parent.parent_name %>
</p>

<p>
  <b>Class of food:</b>
  <%= @parent.class_of_food %>
</p>

<p>
  <b>Rgb:</b>
  <%= @parent.rgb %>
</p>


<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
