<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @parent.name %>
</p>

<p>
  <b>Title:</b>
  <%= @parent.title %>
</p>

<p>
  <b>Content:</b>
  <%= @parent.content %>
</p>


<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
