<% if flash[:message] %>
    <div id="nonworker_message"><%=flash[:message]%></div>
<%end%>


<div id="acc_info">
    <div id="account_name>"><strong>Name:</strong> <%=@user.name.split.map{|x| x.capitalize}.join(" ")%> </div>
    <div id="account_username"><strong>Username:</strong> <%=@user.username%></div>
    
    <div id="account_stats">
        <div><strong>Phone Number: </strong>
        <% if @number %>
            <%= @number.join() %></div>
        <%else%>
            Not Available &nbsp &nbsp &nbsp &nbsp &nbsp
            Enter Your Number: <input type="text" id="number" size=10 maxlength=10> </input><button id="new_num" class="clean-gray">Save Number</button></div>
        <%end%>
        <%if @user.ban==1%>
            <div> Please Speak With Mike As Soon As Possible</div> 
        <%end%>
        <% if @user.worker==1 %>
            <div><strong>Job: </strong>Full Time Buttery Worker</div>
        <%end%>
    </div>

    <h3>Change Password</h3>
    <table>
        <tr><td>Old Password</td><td><input type="password" id="acc_old_pwd"/></td></tr>
        <tr><td>New Password</td><td><input type="password" id="acc_new_pwd1"/></td></tr>
        <tr><td>Retype New Password</td><td><input type="password" id="acc_new_pwd2"/></td></tr>
    </table>
	<br/>
    <button id="change_pwd" class="clean-gray">Change Password</button>
</div>

<div id="contact_options">
    <h3>Choose How We Contact You For Orders</h3>
    <form id="contact_options">
        <input type="radio" name="contact" value="0" 
                <% if @user.contact_options==0 %>
                    checked
                <%end%>
        /> Email<br />
        <% if @number %>
            <input type="radio" name="contact" value="1"  
                    <% if @user.contact_options==1 %>
                        checked
                    <%end%>
            /> Text<br />
            <input type="radio" name="contact" value="2"  
                    <% if @user.contact_options==2 %>
                        checked
                    <%end%>
            /> Text and Email
        <%end%>
    </form>
</div>


<%if @ords!=[]%>
    <div id="acc_orders">
        <h3>Your Active Orders</h3>
        <%@ords.each do |ord|%>
            <% ord1=ord.order.split('|') %>
            <% ord1.delete_at(0) %>
            <div id="acc_inividual_order">
                <% if ord.finished==1 %>
                    <%status='Awaiting Pickup'%>
                <%elsif ord.started==1%>
                    <%status='Has Been Started'%>
                <%else%>
                    <%status='Not Started'%>
                <%end%>
                <div>Status: <%=status%></div>
                <table>
                    <% ord1.each do |o| %>
                        <%o=o.split(',')%>
                        <tr>
                            <td><%= o.delete_at(0) %>:</td>
                            <td><table>
                                <% o.each do |o| %>
                                    <% o=o.split(':') %>
                                    <tr><td><%= @ings[Integer(o[0])].ingredient_name %><%=' x ' + o[1]%></td></tr>
                                <%end%>
                            </table></td>
                        </tr>
                    <%end%>
                </table>
                <%if ord.started==0%>
                    <button class="acc_order_cancel clean-gray" id=<%=ord.id%>>Cancel Order</button>
                <%end%>
            </div>
        <%end%>
    </div>
<%end%>
