<% if flash[:notice] %>
    <div id="nonworker_message"><%=flash[:notice]%></div>
<%end%>

<table id="menu_top">
	<tr>
		<td>
<h2>See What's In Stock and Place an Order</h2>

<% if @order_counter!=1 %>
    <div id="order_count">There Are Currently <%=@order_counter%> Orders Ahead Of You</div>
<%else%>
    <div id="order_count">There Is Currently 1 Order Ahead Of You</div>
<%end%>
		</td><td>
           <div id="order_notes1">Notes: <input id="order_notes"></input></div>
           </td><td>
<button id="submit_order" class="skip">Submit Order</button>
		</td>
	</tr>
</table>
<% clas="" %>
<% @classes.each do |cla| %> 
    <% if clas!=cla.class_of_food %>
        <% clas=cla.class_of_food %>
        <div class="classes">
            <h3><%= clas %></h3>
            <% @parents.each do |parent| %>
                <% if parent.class_of_food==clas %>
                    <button class="item_names_public skip-grey-order" name=<%= parent.id %> id=public_items_<%= parent.rgb %>
                                <% if parent.rgb==0 %>
                                    <%= ' disabled="disabled"'%>
                                <%end%>
                                > <%= parent.parent_name %></button>
                    <% if parent.rgb!=0 %>
                        <% empties=Array.new %>
                        <table class="hidden_ings_pub" id=pub_ings_<%= parent.id %>>
                            <tr><td> <strong>Item</strong> </td> <td> <strong>Servings</strong> </td></tr>
                            <% @makeups.each do |mkup| %>
                                <% if mkup.food==parent.id %>
                                    <% if @ings[mkup.ingredient].amount_in_stock!=0 %>
                                        <tr><td class='menu_ingredient'> <div class=pub_ing_<%=@ings[mkup.ingredient].amount_in_stock %>> <%= @ings[mkup.ingredient].ingredient_name%> </div></td>
                                         <td> <select class="pub_ings_in_itms styled-select" id="<%= parent.parent_name %>" name=<%= @ings[mkup.ingredient].id %>>
                                            <% if mkup.vital==0 %>
                                                <option value=0> 0 </option>
                                            <%end%>
                                            <option value=1> 1</option>
                                            <% if @ings[mkup.ingredient].amount_in_stock >1 %>
                                                <option value=2> 2</option>
                                            <%end%>
                                            <% if @ings[mkup.ingredient].amount_in_stock >2 %>
                                                <option value=3> 3</option>
                                            <%end%>
                                            </select></td></tr>
                                    <%else%>
                                        <% empties.push(@ings[mkup.ingredient]) %>
                                    <%end%>
                                <%end%>
                            <%end%>
                            <% empties.each do |ing| %>
                                <tr><td> <div id= all_ing_0 class=pub_ing_0> <%= ing.ingredient_name%> </div></td>
                                         <td> <div id=all_ing_0>Out Of Stock </div></td></tr>
                            <%end%>
                        </table>
                    <%end%></br>
                <%end%>
            <%end%>
        </div>
    <% end %>
<% end%>
